*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vw;
    background-color: rgb(243, 243, 243);
}

.cuadro {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 80px;
    box-shadow: 0 30px 10px gray;
}
.circle {
    position: absolute;
    inset: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#24c7f8,#2f73e0);
}

.circle span{
    position: absolute;
    width: 2px;
    height: 24px;
    background-color: white;
    transform: translateY(-137.55px) rotate(calc(10deg * var(--i)));
    transform-origin: 0 150px;
}

.circle span::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 12px;
    background-color: white;
    transform-origin: 0 150px;
    transform: rotate(5deg);
}
 
.agujas{
    position: absolute;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 50px;
    transform: translateX(130px) rotate(45deg);
    transition: 2s ease-in-out;
}

.agujas:hover{
    transform: translateX(130px) rotate(405deg)
}

.agujas::before{
    content: '';
    position: absolute;
    top: -150px;
    height: 150px;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 150px solid #fb3b2e ;
}

.agujas::after{
    content: '';
    position: absolute;
    top: 150px;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 150px solid white ;

}